.DS_Store
logs
mlruns
model
output
__pycache__/
*.egg-info/
dist/
build/
__pycache__/
*.pyc
*.db
*.geojson
.idea/
.venv/
*.npy
*.png
*.out
*.joblib
*.geojson
data/*.csv
data/*.parquet
data/*candidates.json
data/data_distri*.json
data/berlin/
all_places.sh
!data/scaler.joblib
